@media screen and (min-width: 600px) and (max-width: 1150px) {
        /* Jumbotrone */

        .jumbo-content {
                justify-content: center;
        }

        .jmb-letter {
                margin-top: 20px;
                margin-left: 120px;
        }

        .jmb-letter h1 {
                margin-top: 0;
                font-size: 29px;
        }

        .jmb-letter p {
                font-size: 12px;
        }

        .jmb-img {
                width: 200px;
        }

        /* Akhir Jumbotrone */
        /* Koten 1  */
        .konten-1 {
                justify-content: center;
        }

        .konten-1 h1 {
                margin-top: 60px;
                width: 200px;
                font-size: 29px;
        }

        .konten-1 .paragraph-konten {
                margin-top: 60px;
                font-size: 8px;
                width: 250px;
        }

        /* Akhir Konten 1 */
        /* Konten 2 */

        .konten-2a {
                justify-content: center;
                width: 100%;
                display: block;
                border: 1px solid transparent;
        }

        #k2-big-img {
                width: 50%;
                margin-bottom: 0;
                margin-right: 25%;
                margin-left: 25%;
        }

        .konten-2-img-dwn {
                margin-top: 30px;
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                padding: 0;
        }

        #k2-small-img-1 {
                margin-bottom: 0;
                margin-right: 25%;
                margin-left: 25%;
                width: 50%;
        }

        #k2-small-img-2 {
                margin-top: 30px;
                margin-bottom: 0;
                margin-right: 25%;
                margin-left: 25%;
                width: 50%;
                margin-bottom: 30px;
        }

        /* Akhir Konten 2 */
}
